
body {
  background:#d3d9da;
  color: #15585e;
}

.main {
  max-width: 1040px;
  margin: auto;
}
.row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.placeholder {
  height: 300px;
}
/* .wrap {
  height: 300px;
} */